*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 0.2px solid;
}

html {
    /* background-color: coral; */
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;



}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    

}