footer {
    width: 100%;
    
    min-height: 8.875rem;
    background: $bg_drkgrey;
    padding: 1.375rem 1.5625rem;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    // text-align: justify;


    @media (min-width: 768px) {

        flex-direction: row-reverse;
    }
    

    h2 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        padding-bottom: 0.6rem;

    }

    p {
        padding: 0.4rem;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    i {
        font-size: 1rem;
        margin-right: 0.6rem;
    }
}