@import "../utils/mixin";

.pan-function {
    @include flex-center-column;
    // max-width: 1080px;
    width: 100%;
    // left: 50%;
}

.function {

    @include flex-center-column;
    padding: 4rem 2rem;
    background-color: #fff;

    @media (min-width:767px) {
        padding: 4rem 10rem;
    }

    & h2 {
        margin-bottom: 2rem;
    }

    & ol {
        @include flex-column;


        gap: 1.5rem;

        @media (min-width:767px) {
            flex-direction: row;
        }

        list-style-type: none;
    }

    & li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background-color: $bg_lgrey;
        padding: 1rem 2rem;
        // border: 1px solid red;
        flex-grow: 1;
        border-radius: 20px;
        height: 4.5rem;
        @include shadow;
        min-width: 12.8rem;

        & i.fas {
            //  color: brown;
            margin-right: 1rem;
            transition: color 0.3s ease-in-out;

        }

        &:hover i.fas {
            color: $primary_1;
        }


        & .pin {
            margin: 0;
            position: absolute;
            display: grid;
            color: $bg_white;
            background-color: $primary_1;
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0;
            place-items: center;
            border-radius: 50%;
            align-self: center;
            // bottom: 50%rem;
            left: -0.8rem;
        }
    }
}