@import "../utils/mixin";

header {
    z-index: 1;
    @include baseLayout;
    @include minwith;
    flex-direction: column;
    font-family: $Logofont;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0.7rem 0rem;
    height: 7.30vh;

    .back-to-index {
        position: absolute;

        width: 2rem;
        height: 2rem;
        top: 55%;
        left: 0.5rem;
        transform: translateY(-50%);
        font-size: 1.2rem;


        & a {
            color: black;
            text-decoration: none;
        }
    }
}