main .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    gap: 1rem;
    padding: 0.5rem;
    background-color: $bg_lgrey;
    text-align: center;
    font-size: 0.7rem;
    box-sizing: border-box;

    & h2 {
        font-family: $Mainfont;
        color: $bg_drkgrey;
        font-weight: 500;

    }

    & i {
        font-size: 1.01rem;

    }

}