.localisation {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    gap: 1rem;
    padding: 0.5rem;
    background-color: $bg_lgrey;
    text-align: center;
    font-size: 0.7rem;
    box-sizing: border-box;
    position: relative;

    & input {
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $Mainfont;
        color: black;
        font-weight: 500;
        background: transparent;
        border: none;
        outline: none;
        height: auto;
        font-size: 1rem;
        padding-right: 2rem;
    }


    & i{
        position: relative;
        font-size: 1.01rem;
        left: 2rem;
    }
}