.menu {
    display: flex;
    flex-direction: column;
    background-color: $bg_lgrey;
    padding: 3.375rem 1.125rem 4.125rem 1.0625rem;
    gap: 1.125rem;



    h2 {
        margin-bottom: 1rem;

    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
        }


    }

    .new {
        // border: 1px solid red;
        position: relative;
    }

    .new::before {
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: $tertiary_3 ;
        color: darken($tertiary_3, $amount: 50%);
        display: grid;
        place-items: center;
        right: 1rem;
        top: 1rem;
        border-radius: 2px;

    }

    .card {
        // box-sizing: border-box;
        // border: 1px solid rgb(245, 245, 245);
        border-radius: 15px;
        height: 15.6875rem;
        width: 100%;
        min-width: 340px;
        text-decoration: none;
        color: inherit;
        background-color: #ffffff;

        &__image {
            height: 70%;

        }

        &__image img {
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &__content {
            position: relative;
            padding: 0.75rem 0.8125rem;
            gap: 5px;
            // background-color: brown;


        }

        & i {
            position: absolute;
            font-size: 1.3125rem;
            right: 1rem;
            top: 30%;
        }

    }

}