@import "../utils/mixin";


.reservation {
    // border: solid 1px yellow;
    @include flex-center;
    position: relative;
    flex-direction: column;
    min-height: 100%;
   
    gap: 1rem;
    padding: 2rem;
    background-color: $bg_lgrey2;
    text-align: center;
   

    &__title {

        font-family: $Mainfont;
        color: $bg_drkgrey;

        font-weight: 700;
        font-size: 1.5rem;
    }

    &__description {
        font-size: 1.01rem;
        font-weight: 300
    }

    &__button {
@include button-style;
} 

}