.loader {
  font-family: "Shrikhand", "cursive";
  z-index: 99;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeOut 2s ease-out 2.1s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -99;
  }
}

@media only screen and (min-width: 600px) {
  .loader {
    font-size: 5rem;
  }
}
.letter {
  color: rgba(56, 56, 56, 0.7411764706);
  letter-spacing: 0.5rem;
  animation: pop 2s cubic-bezier(0.8, 0.22, 0.44, 1.15) infinite;
}

@keyframes pop {
  0%, 100% {
    color: magenta;
    text-shadow: 0 0 7px #ffffff;
    transform: translateY(0);
    transform: translateY(0) scale(1);
  }
  40% {
    color: #9356dc;
    transform: translateY(-30px);
    transform: translateY(-30px) scale(1.4);
  }
  60% {
    color: #99E2D0;
    transform: translateY(-15px);
    transform: translateY(-15px) scale(1.1);
  }
  90% {
    color: #ffffff;
    text-shadow: none;
    transform: translateY(0) scale(1);
  }
}
.l1 {
  animation-delay: 0s;
}

.l2 {
  animation-delay: 0s;
}

.l3 {
  animation-delay: 0.5s;
}

.l4 {
  animation-delay: 0.5s;
}

.l5 {
  animation-delay: 1s;
}

.l6 {
  animation-delay: 1s;
}

.l7 {
  animation-delay: 1s;
}

.l8 {
  animation-delay: 1s;
}

.l9 {
  animation-delay: 1.6s;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* background-color: coral; */
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0.7rem 0rem;
  height: 7.3vh;
}
header .back-to-index {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

/* nav bar */
main .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 0.7rem;
  box-sizing: border-box;
}
main .localisation h2 {
  font-family: "Roboto", sans-serif;
  color: #353535;
  font-weight: 500;
}
main .localisation i {
  font-size: 1.01rem;
}

/* Section Information Reservation   */
.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  min-height: 100%;
  gap: 1rem;
  padding: 2rem;
  background-color: #EAEAEA;
  text-align: center;
}
.reservation__title {
  font-family: "Roboto", sans-serif;
  color: #353535;
  font-weight: 700;
  font-size: 1.5rem;
}
.reservation__description {
  font-size: 1.01rem;
  font-weight: 300;
}
.reservation__button {
  border: 1px #9747ff;
  box-sizing: content-box;
  background: var(--button-gradient, linear-gradient(360deg, #9356dc 0%, #FF79DA 100%));
  width: 11.02rem;
  height: 1.5rem;
  padding: 0.813rem 1.172rem;
  border-radius: 2rem;
  color: #ffffff;
  transition: transform 400ms;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* text layout  */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  font-family: "Roboto", sans-serif;
}
.reservation__button:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.pan-function {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
}

.function {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: #fff;
}
@media (min-width: 767px) {
  .function {
    padding: 4rem 10rem;
  }
}
.function h2 {
  margin-bottom: 2rem;
}
.function ol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
}
@media (min-width: 767px) {
  .function ol {
    flex-direction: row;
  }
}
.function li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 20px;
  height: 4.5rem;
  box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.28);
  min-width: 12.8rem;
}
.function li i.fas {
  margin-right: 1rem;
  transition: color 0.3s ease-in-out;
}
.function li:hover i.fas {
  color: #9356dc;
}
.function li .pin {
  margin: 0;
  position: absolute;
  display: grid;
  color: #ffffff;
  background-color: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 50%;
  align-self: center;
  left: -0.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3.375rem 1.125rem 4.125rem 1.0625rem;
  gap: 1.125rem;
}
@media (min-width: 768px) {
  .menu {
    padding: 3.375rem 10rem 4.125rem 10rem;
    gap: 3.125rem;
  }
}
.menu h2 {
  margin-bottom: 1rem;
}
.menu__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  width: 100%;
  min-width: 270px;
}
@media (min-width: 768px) {
  .menu__card {
    flex-direction: row;
    gap: 6.25rem;
  }
}
.menu .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 2px;
}
.menu .card {
  border-radius: 15px;
  height: 15.6875rem;
  width: 100%;
  min-width: 340px;
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menu .card__image {
  height: 70%;
}
.menu .card__image img {
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu .card__content {
  position: relative;
  padding: 0.75rem 0.8125rem;
  gap: 5px;
}
.menu .card__content .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356dc, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 700ms ease-in-out;
  transform: scale(0) translateY(100%);
}
.menu .card__content:hover .fa-solid {
  opacity: 1;
  transform: scale(1.1) translateY(0);
}
.menu .card__content .fa-regular {
  opacity: 1;
  transition: all 600ms ease-in-out;
  transform: scale(1);
}
.menu .card__content:hover .fa-regular {
  opacity: 1;
  transform: scale(1.02) scale(1);
}
.menu .card i {
  position: absolute;
  font-size: 1.3125rem;
  right: 1rem;
  top: 30%;
}

.footer {
  width: 100%;
  min-height: 11.4vh;
  background: #353535;
  padding: 1.375rem 1.5625rem;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  line-height: 1.6875rem;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 4rem;
    gap: 2rem;
  }
  .footer .fe2 {
    order: 1;
  }
  .footer .fe1 {
    order: 2;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.125rem;
  padding-bottom: 0.6rem;
}
.footer__engage p {
  padding: 0.4rem;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.3125rem;
}
.footer__engage a {
  text-decoration: none;
  color: inherit;
}
.footer__engage i {
  font-size: 0.8rem;
  margin-right: 0.6rem;
}
@media (min-width: 768px) {
  .footer__slide {
    -o-object-position: center;
       object-position: center;
    position: relative;
    top: 2rem;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__engage {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.resto__title .pan-item,
.resto__title .menu-item,
.resto__title button,
.menu-resto .pan-item,
.menu-resto .menu-item,
.menu-resto button {
  animation: slideInFromLeft 1.6s ease-out;
  animation-fill-mode: both;
  visibility: hidden;
}

.resto__title {
  animation-delay: 0.5s;
}

.menu-resto .delay-item1 {
  animation-delay: 1.2s;
}
.menu-resto .delay-item2 {
  animation-delay: 1.5s;
}
.menu-resto .delay-item3 {
  animation-delay: 1.5s;
}
.menu-resto .menu-item {
  animation-delay: 1.5s;
}
.menu-resto button {
  animation-delay: 2s;
}

.resto__title .pan-item,
.resto__title .menu-item,
.resto__title button,
.menu-resto .pan-item,
.menu-resto .menu-item,
.menu-resto button {
  animation-play-state: running;
  visibility: visible;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 40vh;
  -o-object-position: bottom;
     object-position: bottom;
}
.banner .cover-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contain {
  max-width: 1055px;
  margin: auto;
}

.resto__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -4rem;
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
  width: 100%;
  box-sizing: border-box;
  min-width: 371px;
}
.resto__main .title-restaurant {
  position: relative;
  font-family: "Shrikhand", cursive;
  width: 100%;
}

.resto__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 1rem;
}
.resto__title .btn-heart {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.resto__title .btn-heart .fa-heart {
  position: absolute;
  font-size: 1.5rem;
}
.resto__title i {
  font-size: 2rem;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.resto__title .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356dc, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 700ms ease-in-out;
  transform: scale(0) translateY(100%);
}
.resto__title:hover .fa-solid {
  opacity: 1;
  transform: scale(1.1) translateY(0);
}
.resto__title .fa-regular {
  opacity: 1;
  transition: all 600ms ease-in-out;
  transform: scale(1);
}
.resto__title:hover .fa-regular {
  opacity: 1;
  transform: scale(1.02) scale(1);
}

.menu-resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  height: 50%;
  width: 100%;
  gap: 2.5rem;
}
.menu-resto .headline {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
}
.menu-resto .headline .title-plat {
  width: 275px;
  height: 27px;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
}
.menu-resto .headline .underline {
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 0.5rem;
}

.menu-item {
  display: flex;
  flex-direction: row;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 1.1rem;
  padding: 0rem 0rem 0rem 1rem;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
}
.menu-item__header {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
}
.menu-item__description {
  font-size: 0.99rem;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-item__price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}
.menu-item__confirmation {
  background-color: #99E2D0;
  display: flex;
  margin-right: -4rem;
  border-radius: 0 1rem 1rem 0;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  opacity: 0;
}
.menu-item__icon-wrap {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: menu-item__confirmation 1s;
  transform: rotate(180deg);
}
.menu-item__icon {
  color: #99E2D0;
  transition-duration: 700ms, 1s;
}
.menu-item:hover .menu-item__confirmation {
  margin-right: 0rem;
  opacity: 1;
}
.menu-item:hover .menu-item__icon {
  transform: rotate(-180deg);
}

.pan-item {
  max-width: 634px;
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.btn {
  border: 1px #9747ff;
  box-sizing: content-box;
  background: var(--button-gradient, linear-gradient(360deg, #9356dc 0%, #FF79DA 100%));
  width: 11.02rem;
  height: 1.5rem;
  padding: 0.813rem 1.172rem;
  border-radius: 2rem;
  color: #ffffff;
  transition: transform 400ms;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* text layout  */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  font-family: "Roboto", sans-serif;
}
.btn:hover {
  transform: scale(1.02);
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */