*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: coral; */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  position: relative;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  /* background-color:bisque; */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0.3rem;
  position: relative;
}

/* nav bar */
main .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #f3f3f3;
  text-align: center;
  font-size: 0.7rem;
}

/* Section Information Reservation   */
.reservation {
  background-color: #f6f6f6;
  /* border: 0.2px solid blueviolet; */
  text-align: center;
  padding: 1rem;
}
.reservation h2 {
  font-size: 1.5rem;
}
.reservation p {
  font-size: 1rem;
  font-weight: 300;
}
.reservation button {
  box-sizing: content-box;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
  width: 11.02rem;
  height: 1.5rem;
  padding: 0.813rem 1.172rem;
  border-radius: 2rem;
  margin-top: 1.688rem;
  color: white;
  border: 1px #9747ff;
  transition: transform 400ms;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* text layout  */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  font-family: "Roboto" sans-serif;
}
.reservation button:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.function {
  padding: 4rem 2rem;
  background-color: #fff;
}
.function h2 {
  margin-bottom: 2rem;
}
.function ol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
}
@media (min-width: 767px) {
  .function ol {
    flex-direction: row;
  }
}
.function li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 20px;
  height: 3.5rem;
  box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.28);
}
.function li i.fas {
  margin-right: 1rem;
}
.function li .pin {
  margin: 0;
  position: absolute;
  display: grid;
  color: white;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 50%;
  bottom: 1rem;
  left: -0.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3.375rem 1.125rem 4.125rem 1.0625rem;
  gap: 1.125rem;
}
.menu h2 {
  margin-bottom: 1rem;
}
.menu__card {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  width: 100%;
}
@media (min-width: 768px) {
  .menu__card {
    flex-direction: row;
  }
}
.menu .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 2px;
}
.menu .card {
  border-radius: 15px;
  height: 15.6875rem;
  width: 100%;
  min-width: 340px;
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
}
.menu .card__image {
  height: 70%;
}
.menu .card__image img {
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu .card__content {
  position: relative;
  padding: 0.75rem 0.8125rem;
  gap: 5px;
}
.menu .card__content .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356dc, magenta);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 2s ease-in-out;
}
.menu .card__content:hover .fa-solid {
  opacity: 1;
  transform: scale(1.09);
}
.menu .card__content .fa-regular {
  opacity: 1;
  transition: all 1s ease-in-out;
}
.menu .card__content:hover .fa-regular {
  opacity: 0;
  transform: scale(0.7);
}
.menu .card i {
  position: absolute;
  font-size: 1.3125rem;
  right: 1rem;
  top: 30%;
}

footer {
  min-height: 8.875rem;
  background: #353535;
  padding: 1.375rem 1.5625rem;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    padding: 1.375rem 1.875rem;
  }
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  padding-bottom: 0.6rem;
}
footer p {
  padding: 0.4rem;
  gap: 1rem;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer i {
  font-size: 1rem;
  margin-right: 0.6rem;
}/*# sourceMappingURL=style.css.map */